In [109]:
import numpy as np
import pandas as pd

In [110]:
movies = pd.read_csv('TeluguMovies_dataset.csv')

In [111]:
movies.head(1)

,Unnamed: 0,Movie,Year,Certificate,Genre,Overview,Runtime,Rating,No.of.Ratings
0,0,Bahubali: The Beginning,2015.0,UA,"Action, Drama","In ancient India, an adventurous and darin...",159,8.1,99114

In [112]:
movies.shape

(1400, 9)

In [113]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1400 non-null   int64
 1   Movie          1400 non-null   object
 2   Year           1352 non-null   float64
 3   Certificate    951 non-null    object
 4   Genre          1389 non-null   object
 5   Overview       1221 non-null   object
 6   Runtime        1400 non-null   int64
 7   Rating         1400 non-null   float64
 8   No.of.Ratings  1400 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 98.6+ KB

In [114]:
movies= movies[['Movie','Year','Genre','Overview']]

In [115]:
movies.head()

,Movie,Year,Genre,Overview
0,Bahubali: The Beginning,2015.0,"Action, Drama","In ancient India, an adventurous and darin..."
1,Baahubali 2: The Conclusion,2017.0,"Action, Drama","When Shiva, the son of Bahubali, learns ab..."
2,1 - Nenokkadine,2014.0,"Action, Thriller",A rock star must overcome his psychologica...
3,Dhoom:3,2013.0,"Action, Thriller","When Sahir, a circus entertainer trained i..."
4,Ra.One,2011.0,"Action, Adventure, Sci-Fi",When the titular antagonist of an action g...

In [116]:
 movies.isnull().sum()

Movie         0
Year         48
Genre        11
Overview    179
dtype: int64

In [117]:
movies.dropna(inplace =True)

In [118]:
movies.duplicated().sum()

0

In [119]:
movies.iloc[0].Genre

'Action, Drama            '

In [120]:
movies['tags'] = movies['Overview'] + movies['Genre']

In [121]:
movies.head()

,Movie,Year,Genre,Overview,tags
0,Bahubali: The Beginning,2015.0,"Action, Drama","In ancient India, an adventurous and darin...","In ancient India, an adventurous and darin..."
1,Baahubali 2: The Conclusion,2017.0,"Action, Drama","When Shiva, the son of Bahubali, learns ab...","When Shiva, the son of Bahubali, learns ab..."
2,1 - Nenokkadine,2014.0,"Action, Thriller",A rock star must overcome his psychologica...,A rock star must overcome his psychologica...
3,Dhoom:3,2013.0,"Action, Thriller","When Sahir, a circus entertainer trained i...","When Sahir, a circus entertainer trained i..."
4,Ra.One,2011.0,"Action, Adventure, Sci-Fi",When the titular antagonist of an action g...,When the titular antagonist of an action g...

In [122]:
new_df = movies[['Movie','tags']]

In [123]:
new_df

,Movie,tags
0,Bahubali: The Beginning,"In ancient India, an adventurous and darin..."
1,Baahubali 2: The Conclusion,"When Shiva, the son of Bahubali, learns ab..."
2,1 - Nenokkadine,A rock star must overcome his psychologica...
3,Dhoom:3,"When Sahir, a circus entertainer trained i..."
4,Ra.One,When the titular antagonist of an action g...
...,...,...
1391,Kondura (The Sage from the Sea),Jogamma is the widow of Brahmin Pandit Ran...
1392,Money Money More Money,"Four friends Chakry, Abbas, Raghu, Gogi (J..."
1396,Jakkanna,The movie is about an attempt by Sunil the...
1397,Muvva Gopaludu,Muvva Gopaludu is a 1987 Indian Telugu fil...
1399,9 Nelalu,"Surendra marries Savitri, an orphan. In a ..."

In [124]:
import nltk

In [125]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [126]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i)) 
    return" ".join(y)

In [127]:
 new_df['tags'] =new_df['tags'].apply(stem)

C:\Users\siris\AppData\Local\Temp\ipykernel_1192\3615460838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] =new_df['tags'].apply(stem)

In [128]:
new_df['tags'][0]

'in ancient india, an adventur and dare man becom involv in a decad old feud between two war people.action, drama'

In [129]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words= 'english')

In [130]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [131]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [132]:
len(cv.get_feature_names_out())

4579

In [133]:
['loved', 'loving','love']
['love','love','love']

['love', 'love', 'love']

In [134]:
stem(' In ancient India, an adventurous and daring man becomes involved in a decades old feud between two warring people.Action, Drama  ')

'in ancient india, an adventur and dare man becom involv in a decad old feud between two war people.action, drama'

In [135]:
from sklearn.metrics.pairwise import cosine_similarity

In [136]:
cosine_similarity(vectors).shape

(1174, 1174)

In [137]:
similarity = cosine_similarity(vectors)

In [138]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(651, 0.3779644730092272),
 (730, 0.33407655239053047),
 (687, 0.3086066999241839),
 (279, 0.28347335475692037),
 (314, 0.28347335475692037)]

In [139]:
new_df[new_df['Movie']== 'Billa Ranga'].index[0]

1389

In [140]:
def recommend(movie):
    movie_index = new_df[new_df['Movie']== movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].Movie)

In [141]:
recommend('1 - Nenokkadine')

Amma Nanna O Tamila Ammayi
Krishnam Vande Jagadgurum
Kochadaiiyaan
Thaandavam
Keshava

In [142]:
new_df.iloc[316].Movie

'Uyyala Jampala'

In [143]:
import pickle

In [144]:
new_df['Movie'].values

array(['Bahubali: The Beginning', 'Baahubali 2: The Conclusion',
       '1 - Nenokkadine', ..., 'Jakkanna', 'Muvva Gopaludu', '9 Nelalu'],
      dtype=object)

In [145]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [146]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [147]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Combine genres and overview
movies['combined_features'] = movies['Genre'] + " " + movies['Overview']

# Create TF-IDF vectors
vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = vectorizer.fit_transform(movies['combined_features'])

# Compute similarity matrix
similarity = cosine_similarity(tfidf_matrix)